/** Activities CSS Document **/

/** Color Palette

    light grey  #E8E5E2
    dark grey   #262933
    pink        #F78D8D
    orange      #FAA867
    blue        #78C9E9
    green       #5BDEC2

**/

/** Basic Styling **/

.hero {
    background-image:url(../images/Activities/Cover.jpg);
}
.grid-container1 {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 40px; 
    margin-top: 50px;
    margin-bottom: 40px;
}
    
#item1, #item2, #item3, #item4, #item5, #item7, #item8, #item9, #item10, #item11 {
    background-size: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-left: #FAA867 4px solid;
    width: 100%;
}
#item1 {
    background-image: url("../images/Activities/Hiking.jpg");
}
#item2 {
    background-image: url("../images/Activities/Driving.jpg");
}
#item3 {
    background-image: url("../images/Activities/Paddling.jpg");
}
#item4 {
    background-image: url("../images/Activities/Biking.jpg");
}
#item5 {
    background-image: url("../images/Activities/Climbing.jpg");
}
#item7 {
    background-image: url("../images/Activities/Paraglyding.jpg");
}
#item8 {
    background-image: url("../images/Activities/Dancing.jpg");
}
#item9 {
    background-image: url("../images/Activities/Camping.jpg");
}
#item10 {
    background-image: url("../images/Activities/Donkeys.jpg");
}
#item11 {
    background-image: url("../images/Activities/Relaxing.jpg");
}

.center-text
{
padding:inherit;
width: 50%;
display:block;
margin:auto;
background-color: #26293340;
align-items: center;
text-align:center;
padding: 10px;
background-size:100%;
}

.center-text:hover{
    background-color: #FFFFFF66;
    transition: background-color .2s linear .1s;
}
.center-text h3 {
    font-size: 40px;
    color: white;
}
#adventure {
    margin-top: 75px;
    text-align:center;
}

#item6, #item12 {
    background-size: 100%;
    background-color: #E8E5E2BF;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    padding left: 20px;
    flex-direction: column;
    align-items:flex-start;
    border-left: #FAA867 4px solid;
    
}
h3 {
    padding-bottom: 8px;
    color: #FAA867;
}

