/** Global CSS Document **/

/** Color Palette

    light grey  #E8E5E2
    dark grey   #262933
    pink        #F78D8D
    orange      #FAA867
    blue        #78C9E9
    green       #5BDEC2

**/

/** Basic Styling **/

html {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Alegreya Sans', sans-serif;
    color: #000;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

h2 {
    font-size: 2.25em;
    color: #faa876;
}

/** Helper Classes **/

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    font-size: 15px;
}

.container {
    width: 1000px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.col {
    width: 100%;
    margin: 20px;
}

.vert-col {
    display: flex;
    flex-direction: column;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

/** Header Styles **/
header {
    background-color: #E8E5E2IA;
    padding: 10px;
}

.header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 150px;
    padding: 20px 0;
}

.nav-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav ul {
    display: flex;
    align-items: stretch;
}

nav li {
    padding: 10px 15px;
    color: #262933;
    background-color: #5BDEC200;
    list-style-type: none;
    transition: background-color .2s linear .1s;
   
}

nav li:hover {
    background-color: #5BDEC273;
}

#phone {
    border: solid 1px #262933;
    margin-left: 10px;
    
}

#active-link {
    background-color: #5BDEC24D;
    color: ;
}

/** Hero Content Styles **/

.hero {
    background-image: url(../images/hawaii-9.jpg);
    background-size: 100%;
    background-position: top center;
    background-attachment: fixed;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 8.3em;
    font-weight: 100;
    color: #fff;
}

.hero h2 {
    color: white;
}

.hero span {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: inherit;
}

#cta {
    background-color: #E8E5E280;
    font-size: .75em;
    padding: 15px 25px;
    margin-top: 200px;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: 
}

.row {
    display: flex;
    flex-wrap: nowrap;
 
}
.col {
    width: 100%;
    margin: 20px;
}

footer {
    background-color: #26293333;
    color: black;
    padding: 15px;
}

.container2 {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    float:left;
  
}
.w-25 {
    width: 25%;
    font-size: 50px;
}
.w-75 {
    width: 75%;
}
.grid-container {
    width: 100%;
    padding: 5px;
    font-size: 50px;
    float:left;
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}

div {
    margin: 0;
    padding: 0;
}

#copywrite {
    font-size: .8em;
    color: #262933;
}

label, input, select {
    padding: 5px;
    margin: 5px;
}

.grid-container a {
    display: block;
    width: 20px;
}










